<mat-divider></mat-divider>
<mat-card-content *ngIf="train$ | async as train">
  <!-- <app-info-direction [direction]="train.direction"></app-info-direction><br *ngIf="train.length" />
  <app-info-length [length]="train.length"></app-info-length><br *ngIf="train.length" />
  <app-info-speed [speed]="train.speed"></app-info-speed><br *ngIf="train.speed" />
  <app-info-coupling [couplingReady]="frontCouplingReady" [name]="'vorn'"></app-info-coupling> /
  <app-info-coupling [couplingReady]="rearCouplingReady" [name]="'hinten'"> </app-info-coupling><br />

  <mat-divider style="margin-top: 1rem; margin-left: 4rem"></mat-divider> -->
  <mat-list>
    <mat-list-item>
      <!-- <span mat-list-icon class="text-muted"><mat-icon>info</mat-icon></span> -->
      <h4 mat-line><strong class="rsTitle">Informationen</strong></h4>
      <app-info-direction mat-line [direction]="train.direction" class="text-muted"></app-info-direction
      ><br *ngIf="train.length" />
      <app-info-length mat-line [length]="train.length" class="text-muted"></app-info-length><br *ngIf="train.length" />
      <app-info-speed mat-line [speed]="train.speed" class="text-muted"></app-info-speed><br *ngIf="train.speed" />
      <span mat-line class="text-wrap">
        <app-info-coupling [couplingReady]="false" [name]="'vorn'" class="text-muted"></app-info-coupling>
        /
        <app-info-coupling [couplingReady]="false" [name]="'hinten'" class="text-muted"> </app-info-coupling>
      </span>
      <div class="vf">
        <button mat-mini-fab (click)="changeCamTrain(train)" color="accent">
          <mat-icon>videocam</mat-icon>
        </button>
      </div>
    </mat-list-item>
    <mat-divider *ngIf="train.rollingStock.length > 0"></mat-divider>
    <mat-list-item *ngFor="let rs of train.rollingStock; last as last">
      <p mat-line class="text-wrap">
        <strong class="rsTitle">{{ rs.name }}</strong>
      </p>
      <p mat-line class="app-mute-on-light-bg text-wrap">
        <mat-icon>{{ (rs.tag && "label_outlined") || "label_off" }}</mat-icon> {{ rs.tag }}
      </p>
      <mat-divider *ngIf="!last"></mat-divider>
    </mat-list-item>
  </mat-list>
</mat-card-content>
