<mat-toolbar color="{{ error ? 'warn' : 'accent' }}">
  <mat-toolbar-row>
    <h6>Server</h6>
    <span class="app-spacer"></span>
    <router-outlet name="main-toolbar-icons"></router-outlet>
  </mat-toolbar-row>
</mat-toolbar>
<div id="content" class="row">
  <div class="col col-12" *ngIf="!error">
    <mat-card>
      <h1>
        <a href="http://localhost:3000/" target="_blank" rel="noopener noreferrer"> Web App im Browser öffnen </a>
      </h1>
    </mat-card>
  </div>
  <div class="col col-12" *ngIf="!error">
    <mat-card *ngIf="(urlsAvailable$ | async) === false">
      <span
        >Es wurden keine Daten von EEP gesammelt.<br />
        <span class="text-muted">Stelle sicher, dass Du den folgenden Lua-Code in EEP eingetragen hast:</span>
        <pre>
local ModuleRegistry = require("ak.core.ModuleRegistry")
ModuleRegistry.registerModules(require("ak.core.CoreLuaModule"))

function EEPMain()
    ModuleRegistry.runTasks()
    return 1
end
        </pre>
      </span>
    </mat-card>
    <mat-card *ngIf="(urlsAvailable$ | async) === true">
      <span
        >Happily Serving
        <span *ngIf="eventCounter$ | async as counter" class="text-muted">
          ({{ counter | number: "1.0":"de" }} events)</span
        >
        <br />
        <span class="text-muted">{{ (urls$ | async).join(", ") }}</span>
      </span>
    </mat-card>
  </div>
  <div class="col col-12">
    <mat-card [ngClass]="{ error: error }">
      <span
        >EEP-Verzeichnis<br />
        <span class="text-muted">{{ eepDir$ | async }}</span>
      </span>
      <span class="app-spacer"></span>
      <button *ngIf="error" mat-flat-button (click)="openDialog()" color="warn">Verzeichnis wählen</button>
      <button *ngIf="!error" mat-stroked-button (click)="openDialog()">Verzeichnis wählen</button>
    </mat-card>
  </div>
  <div class="col col-12" *ngIf="error">
    <p class="text-muted">
      Bitte gib das Verzeichnis Deiner EEP-Installation an. Die Lua-Bibliothek muss installiert sein. Der Server sucht
      nach dem Verzeichnis <span class="tt">LUA/ak/io/exchange</span>.
    </p>
  </div>
</div>
