#bigIcon {
    text-align: center;
    font-size: 2rem;
    line-height: 2.5rem;
    height: 3rem;
    width: 3rem;
    /* background-color: #eeeeee; */
}

.mat-card {
    padding: 1rem;
}

.mat-card-content {
    margin-left: 4rem;
}
