#expandButton {
    position: absolute;
    right: 1rem;
}

#bigIcon {
    text-align: center;
    font-size: 2rem;
    line-height: 2.5rem;
    height: 3rem;
    width: 3rem;
    /* background-color: #eeeeee; */
}

#rsTitle {
    font-weight: 400;
}

.mat-card {
    padding: 1rem;
}

.mat-card-content {
    margin-top: 1rem;
    margin-left: 4rem;
}

.mat-card-subtitle {
    margin-bottom: 0;
}
