<mat-card class="app-card mat-elevation-z2" *ngIf="train.rollingStock && train.rollingStock[0]">
  <mat-card-title-group (click)="favoriteTrain()">
    <div mat-card-avatar id="bigIcon">{{ iconFor(train.rollingStock[0]) }}</div>
    <div class="titles">
      <mat-card-title>
        {{ train.id }}
      </mat-card-title>
      <mat-card-subtitle>
        <app-info-route [route]="train.route"></app-info-route>
        <app-info-line [line]="train.line"></app-info-line>
        <app-info-destination [destination]="train.destination"></app-info-destination>
      </mat-card-subtitle>
    </div>
    <!-- <div id="expandButton"> -->
    <button mat-icon-button>
      <mat-icon>{{ expanded ? "expand_less" : "expand_more" }}</mat-icon>
    </button>
    <!-- </div> -->
  </mat-card-title-group>
  <mat-divider></mat-divider>
  <mat-card-content *ngIf="(selectedTrainName$ | async) === train.id">
    <!-- <app-info-direction [direction]="train.direction"></app-info-direction><br *ngIf="train.length" />
    <app-info-length [length]="train.length"></app-info-length><br *ngIf="train.length" />
    <app-info-speed [speed]="train.speed"></app-info-speed><br *ngIf="train.speed" />
    <app-info-coupling [couplingReady]="frontCouplingReady" [name]="'vorn'"></app-info-coupling> /
    <app-info-coupling [couplingReady]="rearCouplingReady" [name]="'hinten'"> </app-info-coupling><br />

    <mat-divider style="margin-top: 1rem; margin-left: 4rem"></mat-divider> -->
    <mat-list style="margin-top: -1rem; margin-left: -1rem; margin-right: -1rem; margin-bottom: 0rem">
      <mat-list-item>
        <span mat-list-icon class="text-muted"><mat-icon>info</mat-icon></span>
        <h4 mat-line><strong id="rsTitle">Informationen</strong></h4>
        <app-info-direction mat-line [direction]="train.direction" class="text-muted"></app-info-direction
        ><br *ngIf="train.length" />
        <app-info-length mat-line [length]="train.length" class="text-muted"></app-info-length
        ><br *ngIf="train.length" />
        <app-info-speed mat-line [speed]="train.speed" class="text-muted"></app-info-speed><br *ngIf="train.speed" />
        <span mat-line class="text-wrap">
          <app-info-coupling
            [couplingReady]="frontCouplingReady"
            [name]="'vorn'"
            class="text-muted"
          ></app-info-coupling>
          /
          <app-info-coupling [couplingReady]="rearCouplingReady" [name]="'hinten'" class="text-muted">
          </app-info-coupling>
        </span>
        <mat-divider *ngIf="train.rollingStock.length > 0"></mat-divider>
      </mat-list-item>
      <mat-list-item *ngFor="let rs of train.rollingStock; last as last">
        <span mat-list-icon>{{ iconFor(rs) }}</span>
        <p mat-line class="text-wrap">
          <strong id="rsTitle">{{ rs.name }}</strong>
        </p>
        <p mat-line class="app-mute-on-light-bg text-wrap">
          <mat-icon>{{ (rs.tag && "label_outlined") || "label_off" }}</mat-icon> {{ rs.tag }}
        </p>
        <mat-divider *ngIf="!last"></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
