.bold {
  stroke-width: 0.2rem;
  stroke-opacity: 0.5;
}

.green {
  stroke: green;
  animation-duration: 0.3s;
  animation-name: strokegreen;
  animation-timing-function: ease-in-out;
}

.yellow {
  stroke: yellow;
  animation-duration: 0.3s;
  animation-name: strokered;
  animation-timing-function: ease-in-out;
}

#lane0 {
  animation-duration: 0.3s;
  animation-name: strokered;
  animation-timing-function: ease-in-out;
}

.red {
  stroke: red;
  animation-duration: 0.3s;
  animation-name: strokered;
  animation-timing-function: ease-in-out;
}

.svg-container {
  background-color: green;
  flex-direction: column;
  display: flex;
  align-items: stretch;
  justify-content: center;
  max-width: 100%;
  width: 100%;
}

@keyframes strokegreen {
  from {
    stroke: gray;
    stroke-width: 0.2rem;
  }

  35% {
    stroke: gray;
    stroke-width: 0.1rem;
  }

  65% {
    stroke: yellow;
    stroke-width: 0.1rem;
  }

  to {
    stroke: green;
    stroke-width: 0.2rem;
  }
}

@keyframes strokered {
  from {
    stroke: gray;
    stroke-width: 0.2rem;
  }

  45% {
    stroke: gray;
    stroke-width: 0.1rem;
  }

  55% {
    stroke: yellow;
    stroke-width: 0.1rem;
  }

  to {
    stroke: red;
    stroke-width: 0.2rem;
  }
}
