.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

/*.mat-card-title-group,*/
/*.mat-card-header {*/
/*background-color: rgba(0, 255, 0, 0.2);*/
/*}*/
/*.mat-card-title {*/
/*background-color: rgba(0, 128, 0, 0.2);*/
/*}*/

/*.mat-card-subtitle {*/
/*background-color: rgba(0, 128, 0, 0.2);*/
/*}*/

/*.mat-card-content {*/
/*background-color: bisque;*/
/*}*/
/*.mat-card-actions {*/
/*background-color: dodgerblue;*/
/*}*/
/*.mat-nav-list {*/
/*background-color: darkgoldenrod;*/
/*}*/
