<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="4"
                 rowHeight="250px">
    <mat-grid-tile>
      <mat-card class="app-card dashboard-card">
        <mat-card-title-group>
          <mat-card-title>app-card, Title Group</mat-card-title>
          <mat-card-subtitle>Title Group</mat-card-subtitle>
        </mat-card-title-group>
        <mat-divider></mat-divider>
        <mat-card-content>
          <p>
            Erfahre wie Du Kreuzungen mit der Lua-Bibliothek einrichtest
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button
             color="primary"
             target="_blank"
             href="https://andreas-kreuz.github.io/ak-lua-bibliothek-fuer-eep/anleitungen/">
            Anleitung
            <mat-icon>launch</mat-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-title-group>
          <mat-card-title>Default, Title Group</mat-card-title>
          <mat-card-subtitle>Title Group</mat-card-subtitle>
        </mat-card-title-group>
        <mat-divider></mat-divider>
        <mat-card-content>
          <p>
            Erfahre wie Du Kreuzungen mit der Lua-Bibliothek einrichtest
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button
             color="primary"
             target="_blank"
             href="https://andreas-kreuz.github.io/ak-lua-bibliothek-fuer-eep/anleitungen/">
            Anleitung
            <mat-icon>launch</mat-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="app-card dashboard-card">
        <mat-card-header>
          <mat-card-title>app-card, Card Header</mat-card-title>
          <mat-card-subtitle>Card Header</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <p>
            Erfahre wie Du Kreuzungen mit der Lua-Bibliothek einrichtest
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button
             color="primary"
             target="_blank"
             href="https://andreas-kreuz.github.io/ak-lua-bibliothek-fuer-eep/anleitungen/">
            Anleitung
            <mat-icon>launch</mat-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>Default, Card Header</mat-card-title>
          <mat-card-subtitle>Card Header</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <p>
            Erfahre wie Du Kreuzungen mit der Lua-Bibliothek einrichtest
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button
             color="primary"
             target="_blank"
             href="https://andreas-kreuz.github.io/ak-lua-bibliothek-fuer-eep/anleitungen/">
            Anleitung
            <mat-icon>launch</mat-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>

    <!-- COLOR + SUBTITLE -->

    <mat-grid-tile>
      <mat-card class="app-card dashboard-card">
        <mat-card-title-group class="app-bg-primary app-fg-on-primary">
          <mat-card-title>app-card, Title Group</mat-card-title>
          <mat-card-subtitle>Title Group</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
          <p>
            Erfahre wie Du Kreuzungen mit der Lua-Bibliothek einrichtest
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="app-card dashboard-card">
        <mat-card-title-group>
          <mat-card-title>Default, Title Group</mat-card-title>
          <mat-card-subtitle>Title Group</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
          <p>
            Erfahre wie Du Kreuzungen mit der Lua-Bibliothek einrichtest
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="app-card dashboard-card">
        <mat-card-header class="app-bg-accent app-fg-on-accent">
          <mat-card-title>app-card, Card Header</mat-card-title>
          <mat-card-subtitle>Card Header</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Erfahre wie Du Kreuzungen mit der Lua-Bibliothek einrichtest
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="app-card dashboard-card">
        <mat-card-header>
          <mat-card-title>Default, Card Header</mat-card-title>
          <mat-card-subtitle>Card Header</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Erfahre wie Du Kreuzungen mit der Lua-Bibliothek einrichtest
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <!-- COLOR NO SUBTITLE -->

    <mat-grid-tile>
      <mat-card class="app-card dashboard-card">
        <mat-card-title-group class="app-bg-primary app-fg-on-primary">
          <mat-card-title>app-card, Title Group</mat-card-title>
        </mat-card-title-group>
        <mat-card-content>
          <p>
            Erfahre wie Du Kreuzungen mit der Lua-Bibliothek einrichtest
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="app-card dashboard-card">
        <mat-card-title-group>
          <mat-card-title>Default, Title Group</mat-card-title>
        </mat-card-title-group>
        <mat-card-content>
          <p>
            Erfahre wie Du Kreuzungen mit der Lua-Bibliothek einrichtest
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="app-card dashboard-card">
        <mat-card-header class="app-bg-accent app-fg-on-accent">
          <mat-card-title>app-card, Card Header</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Erfahre wie Du Kreuzungen mit der Lua-Bibliothek einrichtest
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="app-card dashboard-card">
        <mat-card-header>
          <mat-card-title>Default, Card Header</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Erfahre wie Du Kreuzungen mit der Lua-Bibliothek einrichtest
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>


    <!-- NAVIGATION -->

    <mat-grid-tile>
      <mat-card class="app-card dashboard-card">
        <mat-card-title-group>
          <mat-card-title>app-card, Title Group</mat-card-title>
          <mat-card-subtitle>Title Group</mat-card-subtitle>
        </mat-card-title-group>
        <mat-nav-list>
          <mat-divider></mat-divider>
          <a mat-list-item
             routerLink="bla">
            <mat-icon class="app-list-icon"
                      color="primary">help
            </mat-icon>
            <span class="app-space-after-icon">Somewhere</span>
            <span class="app-spacer"></span>
            <mat-icon class="app-list-icon app-mute-light-bg">chevron_right</mat-icon>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item
             routerLink="bla">
            <mat-icon class="app-list-icon"
                      color="primary">help
            </mat-icon>
            <span class="app-space-after-icon">Somewhere</span>
            <span class="app-spacer"></span>
            <mat-icon class="app-list-icon app-mute-light-bg">chevron_right</mat-icon>
          </a>
          <mat-divider></mat-divider>
        </mat-nav-list>
        <mat-card-actions>
          <a mat-raised-button
             color="primary"
             target="_blank"
             href="https://andreas-kreuz.github.io/ak-lua-bibliothek-fuer-eep/anleitungen/">
            Anleitung
            <mat-icon>launch</mat-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-title-group>
          <mat-card-title>app-card, Title Group</mat-card-title>
          <mat-card-subtitle>Title Group</mat-card-subtitle>
        </mat-card-title-group>
        <mat-nav-list>
          <mat-divider></mat-divider>
          <a mat-list-item
             routerLink="bla">
            <mat-icon class="app-list-icon"
                      color="primary">help
            </mat-icon>
            <span class="app-space-after-icon">Somewhere</span>
            <span class="app-spacer"></span>
            <mat-icon class="app-list-icon app-mute-light-bg">chevron_right</mat-icon>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item
             routerLink="bla">
            <mat-icon class="app-list-icon"
                      color="primary">help
            </mat-icon>
            <span class="app-space-after-icon">Somewhere</span>
            <span class="app-spacer"></span>
            <mat-icon class="app-list-icon app-mute-light-bg">chevron_right</mat-icon>
          </a>
          <mat-divider></mat-divider>
        </mat-nav-list>
        <mat-card-actions>
          <a mat-raised-button
             color="primary"
             target="_blank"
             href="https://andreas-kreuz.github.io/ak-lua-bibliothek-fuer-eep/anleitungen/">
            Anleitung
            <mat-icon>launch</mat-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="app-card dashboard-card">
        <mat-card-title>app-card, Title Only</mat-card-title>
        <mat-card-subtitle>... and subtitle</mat-card-subtitle>
        <mat-nav-list>
          <mat-divider></mat-divider>
          <a mat-list-item
             routerLink="bla">
            <mat-icon class="app-list-icon"
                      color="primary">help
            </mat-icon>
            <span class="app-space-after-icon">Somewhere</span>
            <span class="app-spacer"></span>
            <mat-icon class="app-list-icon app-mute-light-bg">chevron_right</mat-icon>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item
             routerLink="bla">
            <mat-icon class="app-list-icon"
                      color="primary">help
            </mat-icon>
            <span class="app-space-after-icon">Somewhere</span>
            <span class="app-spacer"></span>
            <mat-icon class="app-list-icon app-mute-light-bg">chevron_right</mat-icon>
          </a>
          <mat-divider></mat-divider>
        </mat-nav-list>
        <mat-card-actions>
          <a mat-raised-button
             color="primary"
             target="_blank"
             href="https://andreas-kreuz.github.io/ak-lua-bibliothek-fuer-eep/anleitungen/">
            Anleitung
            <mat-icon>launch</mat-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-title>Default, Title Only</mat-card-title>
        <mat-card-subtitle>... and subtitle</mat-card-subtitle>
        <mat-nav-list>
          <mat-divider></mat-divider>
          <a mat-list-item
             routerLink="bla">
            <mat-icon class="app-list-icon"
                      color="primary">help
            </mat-icon>
            <span class="app-space-after-icon">Somewhere</span>
            <span class="app-spacer"></span>
            <mat-icon class="app-list-icon app-mute-light-bg">chevron_right</mat-icon>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item
             routerLink="bla">
            <mat-icon class="app-list-icon"
                      color="primary">help
            </mat-icon>
            <span class="app-space-after-icon">Somewhere</span>
            <span class="app-spacer"></span>
            <mat-icon class="app-list-icon app-mute-light-bg">chevron_right</mat-icon>
          </a>
          <mat-divider></mat-divider>
        </mat-nav-list>
        <mat-card-actions>
          <a mat-raised-button
             color="primary"
             target="_blank"
             href="https://andreas-kreuz.github.io/ak-lua-bibliothek-fuer-eep/anleitungen/">
            Anleitung
            <mat-icon>launch</mat-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>


  <mat-grid-list cols="4"
                 rowHeight="450px">
    <mat-grid-tile>
      <mat-card class="app-card dashboard-card">
        <mat-nav-list>
          <mat-divider></mat-divider>
          <a mat-list-item
             routerLink="bla">
            <mat-icon class="app-list-icon"
                      color="primary">help
            </mat-icon>
            <span class="app-space-after-icon">Somewhere</span>
            <span class="app-spacer"></span>
            <mat-icon class="app-list-icon app-mute-light-bg">chevron_right</mat-icon>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item
             routerLink="bla">
            <mat-icon class="app-list-icon"
                      color="primary">help
            </mat-icon>
            <span class="app-space-after-icon">Somewhere</span>
            <span class="app-spacer"></span>
            <mat-icon class="app-list-icon app-mute-light-bg">chevron_right</mat-icon>
          </a>
          <mat-divider></mat-divider>
        </mat-nav-list>
        <mat-card-content>
          CONTENT
        </mat-card-content>
        <mat-nav-list>
          <mat-divider></mat-divider>
          <a mat-list-item
             routerLink="bla">
            <mat-icon class="app-list-icon"
                      color="primary">help
            </mat-icon>
            <span class="app-space-after-icon">Somewhere</span>
            <span class="app-spacer"></span>
            <mat-icon class="app-list-icon app-mute-light-bg">chevron_right</mat-icon>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item
             routerLink="bla">
            <mat-icon class="app-list-icon"
                      color="primary">help
            </mat-icon>
            <span class="app-space-after-icon">Somewhere</span>
            <span class="app-spacer"></span>
            <mat-icon class="app-list-icon app-mute-light-bg">chevron_right</mat-icon>
          </a>
          <mat-divider></mat-divider>
        </mat-nav-list>
        <mat-card-content>
          CONTENT
        </mat-card-content>
        <mat-nav-list>
          <mat-divider></mat-divider>
          <a mat-list-item
             routerLink="bla">
            <mat-icon class="app-list-icon"
                      color="primary">help
            </mat-icon>
            <span class="app-space-after-icon">Somewhere</span>
            <span class="app-spacer"></span>
            <mat-icon class="app-list-icon app-mute-light-bg">chevron_right</mat-icon>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item
             routerLink="bla">
            <mat-icon class="app-list-icon"
                      color="primary">help
            </mat-icon>
            <span class="app-space-after-icon">Somewhere</span>
            <span class="app-spacer"></span>
            <mat-icon class="app-list-icon app-mute-light-bg">chevron_right</mat-icon>
          </a>
          <mat-divider></mat-divider>
        </mat-nav-list>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-nav-list>
          <mat-divider></mat-divider>
          <a mat-list-item
             routerLink="bla">
            <mat-icon class="app-list-icon"
                      color="primary">help
            </mat-icon>
            <span class="app-space-after-icon">Somewhere</span>
            <span class="app-spacer"></span>
            <mat-icon class="app-list-icon app-mute-light-bg">chevron_right</mat-icon>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item
             routerLink="bla">
            <mat-icon class="app-list-icon"
                      color="primary">help
            </mat-icon>
            <span class="app-space-after-icon">Somewhere</span>
            <span class="app-spacer"></span>
            <mat-icon class="app-list-icon app-mute-light-bg">chevron_right</mat-icon>
          </a>
          <mat-divider></mat-divider>
        </mat-nav-list>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="app-card dashboard-card">
        <mat-card-header>
          <mat-card-title>
            app-card
            <button mat-icon-button
                    class="more-button"
                    [matMenuTriggerFor]="menu"
                    aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu"
                      xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Default
            <button mat-icon-button
                    class="more-button"
                    [matMenuTriggerFor]="menu"
                    aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu"
                      xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

