# Andreas Kreuz's projects
/ak-lua-bibliothek-fuer-eep-grafiken
/ak-privat
/andreas-kreuz.github.io
/eep-lua-out-dir.txt
/eep-web.github.io

# Project based settings
/lua/LUA/**/AkSpeicherWerte.txt
/lua/LUA/**/*.jar
/lua/LUA/ak/anlagen
/lua/LUA/ak/ext
/lua/LUA/comm_*
/lua/LUA/ak/io/exchange/ak*
/lua/LUA/SlotNames_BH2.lua
/lua/LUA/ModellInstallationPrivat.lua
/lua/modell-pakete

# EEP Files to ignore
*.dds

# General files
scratch.*

# Mac files
.DS_Store

# Jekyll documentation files
_site
Gemfile.lock
.sass-cache
.jekyll*

# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

