# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Project based settings
/modell-pakete
/LUA/ak/anlagen
/LUA/ak/ext
/LUA/comm_*
*.dds
/LUA/ak/io/exchange/ak*

_site
Gemfile.lock
.sass-cache
.jekyll*
.DS_Store
/scratch.lua
LUA/ak/model/api_response.lua
LUA/ak/model/ak_traffic_type.lua
LUA/ak/model/ak_track_type.lua
LUA/ak/model/ak_road_signal_phase.lua
LUA/ak/model/ak_road_signal_model.lua
LUA/ak/model/ak_road_signal_lights.lua
LUA/ak/model/ak_road_signal_axis_model.lua
LUA/ak/model/ak_road_signal_axis.lua
LUA/ak/model/ak_road_signal.lua
LUA/ak/model/ak_lane_switching_type.lua
LUA/ak/model/ak_intersection_switching.lua
LUA/ak/model/ak_intersection_lane.lua
LUA/ak/model/ak_intersection.lua
LUA/ak/model/ak_eep_version.lua
LUA/ak/model/ak_eep_train.lua
LUA/ak/model/ak_eep_track_type.lua
LUA/ak/model/ak_eep_track.lua
LUA/ak/model/ak_eep_time.lua
LUA/ak/model/ak_eep_signal.lua
LUA/ak/model/ak_eep_rolling_stock.lua
LUA/ak/model/ak_direction.lua
