# compiled output
/web-app/dist
/web-app/tmp
/web-app/out-tsc

# dependencies
/web-app/node_modules

# Andreas Kreuz's projects
/server/target
/server/node_modules
/server/dist
/web-server/node_modules
/web-server/build
/web-server/dist
/web-server/resources/public
/web-shared/node_modules
/web-shared/build
/web-shared/dist
/web-shared/resources/public

# Project based settings
/lua/LUA/**/AkSpeicherWerte.txt
/lua/LUA/**/*.jar
/lua/LUA/ak/anlagen
/lua/LUA/ak/ext
/lua/LUA/comm_*
/lua/LUA/ak/io/exchange/ak*
/lua/LUA/SlotNames_BH2.lua
/lua/LUA/ModellInstallationPrivat.lua
/lua/modell-pakete

# EEP Files to ignore
*.dds

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# General files
scratch.*

# System files
.DS_Store
Thumbs.db

# Jekyll documentation files
_site
Gemfile.lock
.sass-cache
.jekyll*

# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

