<div class="row mt-3">
  <div class="col-sm-12">
    <div class="mat-typography">
      <h1 class="app-mute-on-light-bg material-icons">
        Kreuzung verwalten
      </h1>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-sm-12">
    <mat-card *ngIf="(intersection$ | async) as intersection"
              class="app-card">
      <mat-toolbar color="accent">
        <mat-toolbar-row>
          <h1>{{ intersection.name }}</h1>
          <span class="app-spacer"></span>
          <button mat-icon-button
                  *ngIf="!intersection.staticCams || intersection.staticCams.length <= 1"
                  (click)="intersectionHelper.activateCam(intersection.staticCams[0], dialog)"
                  aria-label="Go to Cam">
            <mat-icon>videocam</mat-icon>
          </button>
          <button mat-icon-button
                  *ngIf="intersection.staticCams && intersection.staticCams.length > 1"
                  [matMenuTriggerFor]="menu"
                  aria-label="Toggle menu">
            <mat-icon>videocam</mat-icon>
          </button>
          <mat-menu #menu="matMenu"
                    xPosition="before">
            <button mat-menu-item
                    *ngFor="let cam of intersection.staticCams"
                    (click)="intersectionHelper.activateCam(cam, dialog)">
              <mat-icon color="accent">videocam</mat-icon>
              {{ cam }}
            </button>
          </mat-menu>
        </mat-toolbar-row>
      </mat-toolbar>
      <mat-tab-group backgroundColor="accent"
                     color="accent">
        <mat-tab label="Schalten">
          <ng-template matTabContent>
            <mat-card-content>
              <app-intersection-switching
                [intersectionId]="intersectionId"></app-intersection-switching>
            </mat-card-content>
          </ng-template>
        </mat-tab>
        <mat-tab label="Schaltungen">
          <ng-template matTabContent>
            <mat-card-content>
              <app-lane-overview
                [intersectionId]="intersectionId"></app-lane-overview>
            </mat-card-content>
          </ng-template>
        </mat-tab>
        <mat-tab label="Fahrspuren">
          <ng-template matTabContent>
            <mat-card-content>
              <app-lane-queue
                [intersectionId]="intersectionId"></app-lane-queue>
            </mat-card-content>
          </ng-template>
        </mat-tab>
        <mat-tab label="Kameras">
          <mat-card-content>
            <ng-template #noCams>
              <h4>Es gibt noch keine
                Kameras.</h4>
              <p class="mat-body-2">So
                hast Du Deine Kreuzung
                in Lua angelegt:</p>
              <pre>
    kreuzung = AkKreuzung:neu(...)</pre>
              <p class="mat-body-2">Füge
                danach eine statische
                Kamera hinzu:</p>
              <pre>
    kreuzung:fuegeStatischeKameraHinzu('Name der Kamera hier')</pre>
              <p class="mat-body-2">Danach
                erscheinen hier die
                Kameras für
                diese Kreuzung.</p>
              <p class="mat-body-2">Alternativ
                kannst Du auch den
                Button
                <mat-icon>videocam</mat-icon>
                mit der Kamera nutzen.
              </p>
            </ng-template>
            <mat-list *ngIf="intersection.staticCams.length > 0; else noCams">
              <button mat-menu-item
                      *ngFor="let cam of intersection.staticCams"
                      (click)="intersectionHelper.activateCam(cam, dialog)">
                <mat-icon color="accent">videocam</mat-icon>
                {{ cam }}
              </button>
            </mat-list>
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>
