<ng-container *ngIf="(intersection$ | async) as intersection">
  <ng-container *ngIf="(switching$ | async) as switchings">
    <ng-container *ngIf="(lanes$ | async) as lanes">
      <table class="table table-sm table-striped">
        <thead>
        <tr>
          <th scope="col"
              class="fit">Richtung
          </th>
          <th scope="col"
              class="fit">Typ
          </th>
          <th scope="col"
              class="fit">Spuren
          </th>
          <th *ngFor="let switching of switchings; trackBy: intersectionHelper.trackSwitching"
              scope="col"
              class="fit text-center">{{ switching.name }}
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let lane of lanes; trackBy: intersectionHelper.trackLane">
          <th scope="row">{{ lane.name }}</th>
          <th [ngClass]=[intersectionHelper.phaseColor(lane)]
              scope="row"
              class="fit text-center">
            <img *ngIf="lane.type == 'PEDESTRIAN'"
                 src="../../../../assets/sign-pedestrian.svg"
                 height="24"
                 width="48"
                 style="width: 48px; height: 24px;"
                 alt="pedestrian">
            <img *ngIf="lane.type == 'TRAM'"
                 src="../../../../assets/sign-tram.svg"
                 height="24"
                 width="48"
                 style="width: 48px; height: 24px;"
                 alt="tram">
            <img *ngIf="lane.type == 'NORMAL'"
                 src="../../../../assets/sign-cars.svg"
                 height="24"
                 width="48"
                 style="width: 48px; height: 24px;"
                 alt="normal">
          </th>
          <td [ngClass]="intersectionHelper.phaseColor(lane)"
              class="fit align-middle">
            <img *ngFor="let direction of intersectionHelper.directionIcons(lane)"
                 [src]="[direction]"
                 height="24"
                 width="24"
                 style="width: 24px; height: 24px;">
          </td>
          <td *ngFor="let switching of switchings; trackBy: intersectionHelper.trackSwitching"
              scope="col"
              class="fit text-center"
              [ngClass]="intersectionHelper.phaseColor(lane, switching, intersection)">
            <input type="checkbox"
                   disabled
                   [checked]="intersectionHelper.laneContained(lane,switching)">
          </td>
        </tr>
        <tr>
          <th scope="row">
            <small class="text-muted">Priorität</small>
          </th>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td *ngFor="let switching of switchings; trackBy: intersectionHelper.trackSwitching"
              scope="col"
              class="fit text-center">
            <small class="text-muted">{{ switching.prio | number:'1.1-1' }}</small>
          </td>
        </tr>
        </tbody>
      </table>
    </ng-container>
  </ng-container>
</ng-container>
