<mat-card *ngIf="list$ | async as list" class="mat-elevation-z3">
  <mat-card-content *ngIf="list && list.length > 0">
    <h4>{{ title }} (max: {{ scale(list) }})</h4>
    <svg width="100%" [attr.height]="20 * 16" style="background-color: white">
      <rect
        *ngFor="let item of count; let i = index"
        x="0"
        [attr.y]="i * 2 * 16"
        [attr.width]="'100%'"
        [attr.height]="1.2 * 16"
        style="fill: #f9f9f9"
      />
      <g *ngFor="let entries of list; let j = index">
        <rect
          *ngFor="let item of entries; let i = index"
          [attr.x]="scaledValueOf(startXOf(i, entries)) + '%'"
          [attr.y]="j * 2 * 16"
          [attr.width]="scaledValueOf(item.ms) + '%'"
          [attr.height]="1.2 * 16"
          [attr.style]="'fill: ' + colorOf(i)"
        >
          <title>{{ item.ms.toFixed() }} ms for {{ item.id }}</title>
        </rect>
        <text x="99%" [attr.y]="(j * 2 + 1) * 16" style="font-family: Roboto" fill="#cccccc" text-anchor="end">
          {{ maxOfSingleList(entries).toFixed(1) }} ms
        </text>
      </g>
    </svg>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-content *ngIf="ids && ids.length > 0">
    <h4 style="margin-top: 1rem">Legende</h4>
    <svg width="100%" [attr.height]="(ids.length * 2 - 1) * 16" style="background-color: white">
      <g *ngFor="let id of ids; let j = index">
        <rect [attr.x]="0" [attr.y]="j * 2 * 16" [attr.width]="16" height="16" [attr.style]="'fill: ' + colorOf(j)" />
        <text [attr.x]="1.5 * 16" [attr.y]="(j * 2 + 0.8) * 16" style="font-family: Roboto">
          {{ id }}
        </text>
      </g>
    </svg>
  </mat-card-content>
</mat-card>
<p></p>
