figure img {
    width: 100%;
}

figure.cropping-from-1-1 {
    overflow: hidden;
}

figure img.cropping-from-1-1 {
    margin: 0 -38.885%;
    width: 177.777%;
}

.mat-card[ng-reflect-router-link] {
    cursor: pointer;
}

.mat-card-title {
    word-break: keep-all;
    overflow-wrap: normal;
}

.mat-card-title {
    line-height: 1.1;
}
