<div class="app-card-grid-wide">
  <mat-card class="app-card">
    <mat-card-title-group class="app-bg-primary app-fg-on-primary">
      <mat-card-title>Haltestellen</mat-card-title>
      <mat-card-subtitle>...</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-actions>
      <a mat-button color="primary" routerLink="stops">Haltestellen</a>
    </mat-card-actions>
  </mat-card>
  <mat-card class="app-card">
    <mat-card-title-group class="app-bg-primary app-fg-on-primary">
      <mat-card-title>Linien</mat-card-title>
      <mat-card-subtitle>...</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-actions>
      <a mat-button color="primary" routerLink="lines">Linien</a>
    </mat-card-actions>
  </mat-card>
</div>
