<div class="row-12">
  <h1 class="mt-3">Server-Info</h1>

  <div *ngIf="(apiPaths$ | async) as apiPaths">
    <p *ngIf="apiPaths.length === 0"
       class="alert alert-info">
      Kontaktiere Server {{ pollingUrl$ | async }} ...
    </p>

    <div *ngIf="apiPaths.length > 0"
         class="card mb-3">
      <div class="card-header">
        <h5 class="m-0">Pfade auf {{ pollingUrl$ | async }}</h5>
      </div>

      <ul *ngFor="let path of apiPaths"
          class="list-group list-group-flush">
        <li ngClass="border-{{ path.status }}"
            class="list-group-item border-left-5">
          <strong ngClass="text-{{ path.status }}">{{ path.path }}</strong>
          <br>
          <small class="text-muted">{{ path.message }}</small>
        </li>
      </ul>
      <div class="card-footer"></div>
    </div>
  </div>
</div>

