<h1 mat-dialog-title>Kamera mit Lua hinzufügen</h1>
<div mat-dialog-content>
  <p>So hast Du Deine Kreuzung in Lua angelegt:</p>
  <pre>
    kreuzung = AkKreuzung:neu(...)
  </pre>
  <p>Füge danach eine statische Kamera hinzu:</p>
  <pre>
    kreuzung:fuegeStatischeKameraHinzu('Name der Kamera hier')
  </pre>
  <p>Benutze dann erneut den Knopf
    <mat-icon>videocam</mat-icon>
    .
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button
          color="primary"
          (click)="onNoClick()">Mache ich
  </button>
</div>
