@use "@angular/material" as mat;

html,
body {
  height: 100%;
  margin: 0;
}

// Theme from
// http://materialtheme.arcsine.org/?c=eyJwYWxldHRlIjp7InByaW1hcnkiOnsibWFpbiI6IiM0M2EwNDciLCJsaWdodGVyIjoiI2M3ZTNjOCIsImRhcmtlciI6IiMyYzg0MmYifSwiYWNjZW50Ijp7Im1haW4iOiIjMWU4OGU1IiwibGlnaHRlciI6IiNiY2RiZjciLCJkYXJrZXIiOiIjMTI2YmRhIn0sIndhcm4iOnsibWFpbiI6IiNmZjAwMDAiLCJsaWdodGVyIjoiI2ZmYjNiMyIsImRhcmtlciI6IiNmZjAwMDAifSwibGlnaHRUZXh0IjoiIzAwMDAwMCIsImxpZ2h0QmFja2dyb3VuZCI6IiNmZmZmZmYiLCJkYXJrVGV4dCI6IiNmZmZmZmYiLCJkYXJrQmFja2dyb3VuZCI6IiMyYzJjMmMifSwiZm9udHMiOlt7InRhcmdldCI6ImRpc3BsYXktNCIsImxpbmVIZWlnaHQiOjk2LCJzaXplIjo5Nn0seyJ0YXJnZXQiOiJkaXNwbGF5LTMiLCJ2YXJpYW50IjoibGlnaHQiLCJsaW5lSGVpZ2h0Ijo2MCwic2l6ZSI6NjB9LHsidGFyZ2V0IjoiZGlzcGxheS0yIiwibGluZUhlaWdodCI6NTIsInNpemUiOjQ4fSx7InRhcmdldCI6ImRpc3BsYXktMSJ9LHsidGFyZ2V0IjoiaGVhZGxpbmUifSx7InRhcmdldCI6InRpdGxlIiwibGluZUhlaWdodCI6MjAsInNwYWNpbmciOjAuMjV9LHsidGFyZ2V0Ijoic3ViaGVhZGluZy0yIn0seyJ0YXJnZXQiOiJzdWJoZWFkaW5nLTEifSx7InRhcmdldCI6ImJvZHktMiIsInZhcmlhbnQiOiJyZWd1bGFyIn0seyJ0YXJnZXQiOiJib2R5LTEiLCJzaXplIjoxNiwic3BhY2luZyI6MC4xNX0seyJ0YXJnZXQiOiJidXR0b24ifSx7InRhcmdldCI6ImNhcHRpb24ifSx7InRhcmdldCI6ImlucHV0Iiwic2l6ZSI6bnVsbH1dLCJpY29ucyI6IkZpbGxlZCIsImxpZ2h0bmVzcyI6dHJ1ZX0=

@import "styles-angular-theme";
@import "styles-variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/bootstrap-reboot";
@import "styles-bootstrap-reset";

:root {
  --card-border-radius: 0.5rem;
  --default-padding: 1.5rem;
}

// CARDS SECTION
.app-card {
  padding: 0 !important;
  border-radius: var(--card-border-radius) !important;
  flex-grow: 1;
  flex-shrink: 1;
}

// Set cornered border
.mat-card,
.app-card > .mat-card-header:first-child,
.app-card > .mat-card-title-group:first-child,
.app-card > .mat-card-image:first-child,
.app-card > .mat-toolbar:first-child {
  margin-top: 0 !important;
  border-top-left-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-radius);
}

.app-card > .mat-card-header > .mat-card-avatar {
  margin-left: 1rem;
}

.app-card > .mat-card-header,
.app-card > .mat-card-title-group {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.app-card > .mat-card-header {
  //height: calc(100% + 16px);
  padding: var(--default-padding) 0 0;
}

.app-card > .mat-card-title-group {
  //height: calc(100% + 16px);
  padding: var(--default-padding) var(--default-padding) 0;
}

.app-card > .mat-nav-list {
  //margin-left: -16px !important;
  //width: calc(100% + 32px);
  padding-top: 0;
}

.app-card > .mat-card-actions {
  margin-top: calc(var(--default-padding) - 1rem);
  margin-left: calc(var(--default-padding) - 1rem) !important;
  margin-right: calc(var(--default-padding) - 1rem);
  margin-bottom: calc(var(--default-padding) - 1rem) !important;
}

.app-card > .mat-card-image {
  margin: 0;
  width: 100%;
}

.app-card .mat-list-base .mat-list-item .mat-list-item-content,
.app-card .mat-list-base .mat-list-option .mat-list-item-content,
.app-card > .mat-tab-group .mat-card-content,
.app-card > .mat-card-content {
  padding-left: var(--default-padding);
  padding-right: var(--default-padding);
}

.app-card > .mat-tab-group .mat-card-content,
.app-card .mat-card-image + .mat-card-content,
.app-card .mat-card-header + .mat-divider + .mat-card-content,
.app-card .mat-card-header.app-bg-primary + .mat-card-content,
.app-card .mat-card-header.app-bg-accent + .mat-card-content,
.app-card .mat-card-title-group + .mat-divider + .mat-card-content,
.app-card .mat-card-title-group.app-bg-primary + .mat-card-content,
.app-card .mat-card-title-group.app-bg-accent + .mat-card-content {
  padding-top: calc(var(--default-padding) - 0.75rem);
}

.app-card > .mat-card-header > .mat-card-title:last-child,
.app-card > .mat-card-title-group > div > .mat-card-title:last-child {
  padding-bottom: calc(var(--default-padding) - 0.75rem);
}

.app-card > .mat-card-content:last-child {
  padding-bottom: calc(var(--default-padding) - 0.75rem);
}

.app-card .mat-card-header + .mat-list,
.app-card .mat-card-header + .mat-divider + .mat-list,
.app-card .mat-card-header + .mat-card-content > .mat-list,
.app-card .mat-card-header + .mat-card-content > .mat-divider + .mat-list,
.app-card .mat-card-title-group + .mat-list,
.app-card .mat-card-title-group + .mat-divider + .mat-list,
.app-card .mat-card-title-group + .mat-card-content > .mat-list,
.app-card .mat-card-title-group + .mat-card-content > .mat-divider + .mat-list {
  padding-top: 0;
}

.app-card-header-primary > .mat-card-header,
.app-card-header-primary > .mat-card-title-group {
  background-color: mat.get-color-from-palette($ak-eep-web-primary);
}

.app-card-header-primary > .mat-card-title {
  color: mat.get-color-from-palette(mat.define-palette(mat.$gray-palette, 100));
}

.app-card-header-primary > .mat-card-subtitle {
  color: mat.get-color-from-palette(mat.define-palette(mat.$gray-palette, 300));
}

.app-card-header-accent > .mat-card-header,
.app-card-header-accent > .mat-card-title-group {
  background-color: mat.get-color-from-palette($ak-eep-web-accent);
}

.app-card-header-accent > .mat-card-title,
.app-card-header-accent > .mat-card-subtitle {
  // color: #ffffff;
}

.app-card-header-light > .mat-card-header,
.app-card-header-light > .mat-card-title-group {
  background-color: mat.get-color-from-palette(mat.define-palette(mat.$gray-palette, 300));
}

.app-card-header-light > .mat-card-title,
.app-card-header-light > .mat-card-subtitle {
  // color: #ffffff;
}

.app-card-header-dark > .mat-card-header,
.app-card-header-dark > .mat-card-title-group {
  background-color: mat.get-color-from-palette(mat.define-palette(mat.$gray-palette, 600));
}

.mat-card-title {
  word-break: break-all;
}

.app-card-button-tr {
  position: absolute !important;
  top: calc(var(--default-padding) / 2);
  right: calc(var(--default-padding) / 2);
}

.app-card > .mat-card-content > .mat-divider + h1,
.app-card > .mat-card-content > .mat-divider + h2,
.app-card > .mat-card-content > .mat-divider + h3,
.app-card > .mat-card-content > .mat-divider + h4,
.app-card > .mat-card-content > .mat-divider + p {
  padding-top: calc(var(--default-padding) / 2);
}

.app-card > .mat-card-content > h1 {
  font-size: 1.4rem;
}
.app-card > .mat-card-content > h2 {
  font-size: 1.3rem;
}
.app-card > .mat-card-content > h3 {
  font-size: 1.2rem;
}
.app-card > .mat-card-content > h4 {
  font-size: 1.1rem;
}

// colors section
.app-card-header-dark > .mat-card-title,
.app-card-header-dark > .mat-card-subtitle {
  color: #ffffff;
}

.app-bg-primary {
  background-color: mat.get-color-from-palette($ak-eep-web-primary);
}

.app-bg-accent {
  background-color: mat.get-color-from-palette($ak-eep-web-accent);
}

.app-fg-primary {
  color: mat.get-color-from-palette($ak-eep-web-primary);
}

.app-fg-accent {
  color: mat.get-color-from-palette($ak-eep-web-accent);
}

.app-fg-on-primary,
.app-fg-on-primary > .mat-card-subtitle {
  color: rgb(255, 255, 255);
}

.app-fg-on-primary .mat-card-subtitle {
  color: rgba(255, 255, 255, 0.6);
}

.app-fg-on-accent,
.app-fg-on-accent > .mat-card-subtitle {
  color: rgb(255, 255, 255);
}

.app-fg-on-accent .mat-card-subtitle {
  color: rgba(255, 255, 255, 0.6);
}

.app-space-after-icon {
  padding-left: 1em;
}

.app-spacer {
  flex: 1 1 auto;
}

.app-mute-on-light-bg {
  color: #707070;
}

.app-mute-light-bg {
  color: #c8c8c8;
}

.app-list-icon {
  /*margin-right: 0.3em;*/
}

.mat-form-field {
  //font-size: 14px;
  width: 100%;
}

/* Vertical alignment fix */
.material-icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

// Header stuff
.app-fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
}

// Navigation stuff
.app-nav-link-active {
  background-color: mat.get-color-from-palette($ak-eep-web-primary, 0.4);
}

.app-nav-link {
  border-radius: 0.25rem;
}

.tt {
  font-family: monospace;
}

// Card grid layout
.app-card-grid,
.app-card-grid-wide {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  gap: 2rem;
  margin-bottom: 1rem;
}

.app-card-grid > * {
  width: calc(25% - 6rem / 4);
  max-width: calc(25% - 6rem / 4);
}

.app-card-grid-wide > * {
  width: calc(50% - 1rem);
  max-width: calc(50% - 1rem);
}

@media screen and (max-width: 1200px) {
  .app-card-grid > * {
    width: calc(50% - 1rem);
    max-width: calc(50% - 1rem);
  }

  .app-card-grid-wide > * {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .app-card-grid > * {
    width: 100%;
    max-width: 100%;
  }
}

.text-monospace {
  font-family: "Source Code Variable", "Consolas", "monospace";
}
