<mat-card>
  <img mat-card-image
       src="../../../../assets/card-img-trains-road.jpg">
  <mat-card-title-group>
    <mat-card-title class="mat-body-2">Autos</mat-card-title>
  </mat-card-title-group>
  <mat-card-actions>
    <button mat-button
            color="primary"
            type="button">Informationen
    </button>
  </mat-card-actions>
</mat-card>

<br><br><br>

<mat-card class="app-card">
  <mat-toolbar>
    <mat-toolbar-row role="toolbar">
      <span>Kreuzung 1</span>
      <span class="app-spacer"></span>
      <button mat-icon-button>
        <mat-icon>videocam</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-card-content>
    <p class="mat-caption">Steuerung</p>
    <p class="mat-body-1">20 Richtungen<br> 5 Schaltungen</p>
  </mat-card-content>
</mat-card>

<br><br><br>

<mat-card class="app-card">
  <mat-toolbar>
    <mat-toolbar-row role="toolbar">
      <span>Kreuzung 1</span>
      <span class="app-spacer"></span>
      <button mat-icon-button>
        <mat-icon>videocam</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-card-content>
    <p class="mat-caption">Steuerung</p>
    <p class="mat-body-1">20 Richtungen<br> 5 Schaltungen</p>
  </mat-card-content>
  <mat-action-list>
    <span>Kreuzung 1</span>
    <span class="app-spacer"></span>
    <button mat-icon-button>
      <mat-icon>videocam</mat-icon>
    </button>
  </mat-action-list>
</mat-card>


<p>
  titled-card works!
</p>
