<mat-card class="app-card">
  <mat-card-title-group class="w-100 app-bg-accent app-fg-on-accent">
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>
  </mat-card-title-group>
  <mat-divider></mat-divider>
  <mat-list>
    <div *ngFor="let setting of (luaSettings | async).settings; let i = index">
      <mat-divider *ngIf="i > 0"></mat-divider>
      <mat-list-item>
        <p *ngIf="setting.type !== 'boolean'"
           matLine
           class="left-aligned">
          {{ setting.name }}: &quot;{{ setting.value }}&quot; ist vom Typ {{ setting.type }}
        </p>
        <mat-slide-toggle *ngIf="setting.type == 'boolean'"
                          matLine
                          [checked]="setting.value"
                          (change)="onToggle(setting)"
                          color=accent>{{ setting.name }}</mat-slide-toggle>
        <p matLine
           class="text-muted description left-aligned">{{setting.description}}</p>
      </mat-list-item>
    </div>
    <mat-divider></mat-divider>
  </mat-list>
</mat-card>
