.my-card-header {
  padding-top: 20px;
}

.my-card-title-group {
  background-color: #cccccc;
  padding: 1.5em;
  //display: flex;
  //justify-content: space-between;
  //width: 100%;
}

.my-progress-content {
  text-align: center;
}

.my-progress {
  display: flex;
  margin: 2em auto;
  alignment: center;
  align-content: center;
  align-items: center;
}
