<ng-container *ngFor="let category of navigation; let last_outer = last; let first_outer = first">
  <ng-container *ngIf="category.name !== 'Home' && category.available | async">
    <h1 class="mb-3 app-mute-on-light-bg" [ngClass]="{ 'pt-4': 'Verkehr' !== category.name }">
      {{ category.name }}
    </h1>
    <div class="row d-flex">
      <ng-container *ngFor="let element of category.values; let last = last">
        <app-card2
          class="col-sm-6 mb-4 flex-grow-1 d-flex"
          [ngClass]="{
            'col-6': !element.image || smallPortrait,
            'col-12': element.image,
            'col-md-3': !smallPortrait,
            'col-md-6': smallPortrait
          }"
          [title]="element.title"
          [subtitle]="element.subtitle"
          [routerUrl]="element.link"
          [imageUrl]="(element.image && '../../../../assets/' + element.image) || undefined"
          [description]="element.description"
        ></app-card2>
      </ng-container>
    </div>
  </ng-container>
</ng-container>

<h5 class="mt-5 mb-0 app-mute-on-light-bg">Versionen</h5>
<p class="mat-small mat-caption app-mute-on-light-bg">
  EEP-Web: {{ eepWebVersion$ | async
  }}<span *ngIf="(eepVersion$ | async) !== '?'"
    >, EEP-Lua: {{ eepLuaVersion$ | async }}, EEP: {{ eepVersion$ | async }}
  </span>
</p>
