---
---

@import "my_pages";
.content img:not(.emoji),
.container img:not(.emoji),
.container-fluid img:not(.emoji) {
  max-width: 100%;
}

pre.highlight {
  background-color: #f8f9fa;
}

/* Abstände der Überschriften */
article h1 {
  margin-top: 5rem;
}
article h2 {
  margin-top: 3rem;
}
article h3 {
  margin-top: 2.5rem;
}
article h1 + h2,
article h2 + h3,
article h3 + h4 {
  margin-top: 1rem;
}
article h1:first-of-type {
  margin-top: inherit;
}

article table {
  width: 100%;
  border: 1px solid #cccccc;
}

article table td,
article table th {
  padding: 0.4em;
  border: 1px solid #cccccc;
}

article table tbody tr:nth-child(2n) {
  background-color: #f9f9f9;
}

table ~ table, table ~ p {
  margin-top: 1em;
}
