<div class="mat-typography">
  <div style="display: flex; align-items: flex-start">
    <h1 mat-dialog-title>Lua-Einstellungen</h1>
    <span class="app-spacer"></span>
    <button mat-icon-button aria-label="Einstellungen" (click)="onDialogClose()">
      <mat-icon matBadge="" matBadgeColor="accent">close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <app-config-card
      title="ÖPNV Einstellungen"
      [luaSettings]="luaModuleSettings$"
      (settingChanged)="onSettingChanged($event)"
    ></app-config-card>
  </div>
</div>
