@import "../../../styles-angular-theme";

.spacer {
  flex: 1 1 auto;
}

.nav-entry-name {
  margin-left: 1em;
  margin-right: 1em;
}

.sidenav-container {
  flex: 1 0 auto;
  padding-top: 64px;
  min-height: 100vh;
}

.side-toolbar {
  padding-top: 64px;
  border: 0;
  margin: 0;
}

.side-toolbar-navlist {
  margin-bottom: 1.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
