#expandButton {
    right: 1rem;
}

#bigIcon {
    text-align: center;
    font-size: 2rem;
    line-height: 2.5rem;
    height: 3rem;
    width: 3rem;
}

#rsTitle {
    font-weight: 450;
}

.mat-card-content {
    margin-left: 3.5rem;
}

.mat-card-header {
    align-content: stretch;
    justify-content: space-between;
}

.titles {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 5;
}

.mat-card-avater,
.mat-card-header button {
    flex-grow: 0;
}

.mat-card-header-text {
    width: 100px;
    height: 100px;
    background-color: brown;
    display: none !important;
    flex-grow: 1;
    margin: 0 !important;
    padding: 0 !important;
}

.text-wrap {
    word-break: break-all;
}

.vf {
    flex-direction: column;
    display: flex;
    gap: 0.8rem;
    flex-grow: 0;
    justify-content: flex-start;
}
