.toc-right {
  font-size: 75%;
}

.toc-right ul {
  margin-left: 0;
  padding-left: 1.3em;
}

.toc-right ul li {
  //margin-left: 0;
  //padding-left: 0;
  //background-color: #999999;
}

.toc-right a .active {
  background-color: #333333;
}
