<div mat-dialog-title>
  <div style="display: flex; align-items: flex-start" class="mat-typography">
    <div style="margin: 0 1rem 1.5rem 0">
      <h1 style="margin: 0">{{ title }}</h1>
      <h2 style="margin: 0.25rem 0 0 0" class="text-muted">{{ subtitle }}</h2>
    </div>
    <span class="app-spacer"></span>
    <button mat-icon-button aria-label="Schließen" mat-dialog-close tabindex="-1" (click)="closeDialog()">
      <mat-icon matBadge="" matBadgeColor="accent">close</mat-icon>
    </button>
  </div>
</div>
<div mat-dialog-content>
  <app-settings-panel [luaSettings]="luaSettings" (settingChanged)="settingChangedEvent($event)"></app-settings-panel>
</div>
<div mat-dialog-actions style="margin-top: 2rem; display: flex">
  <span class="app-spacer"></span>
  <button mat-button aria-label="Einstellungen" mat-dialog-close (click)="closeDialog()">Schließen</button>
</div>
