<div class="padding">
  <mat-card class="app-card">
    <mat-card-title-group class="app-bg-accent app-fg-on-accent">
      <mat-card-title>#Straßenbahn 1 JS2</mat-card-title>
      <mat-card-subtitle>Tag Editor für den Zug</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <table>
        <caption>Tag-Attribute. {{ 1024 - encodedLength }} Zeichen verfügbar.</caption>
        <tr>
          <th id="key">Schlüssel</th>
          <th id="value">Wert</th>
          <th id="edit"></th>
          <th id="delete"></th>
        </tr>
        <tr>
          <td>Linie</td>
          <td>{{ model.l }}</td>
          <td class="button"><button mat-icon-button color="accent">
              <mat-icon>edit</mat-icon>
            </button></td>
          <td class="button"><button mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button></td>
        </tr>
        <tr>
          <td>Ziel</td>
          <td>{{ model.d }}</td>
          <td class="button"><button mat-icon-button color="accent">
              <mat-icon>edit</mat-icon>
            </button></td>
          <td class="button"><button mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button></td>
        </tr>
        <tr>
          <td>Richtung</td>
          <td>RIGHT</td>
          <td class="button"><button mat-icon-button color="accent">
              <mat-icon>edit</mat-icon>
            </button></td>
          <td class="button"><button mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button></td>
        </tr>
        <tr>
          <td>Zug-Nummer</td>
          <td>{{ model.n }}</td>
          <td class="button"><button mat-icon-button color="accent">
              <mat-icon>edit</mat-icon>
            </button></td>
          <td class="button"><button mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button></td>
        </tr>
        <tr>
          <td>IBIS-Nummer</td>
          <td>{{ model.i }}</td>
          <td class="button"><button mat-icon-button color="accent">
              <mat-icon>edit</mat-icon>
            </button></td>
          <td class="button"><button mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button></td>
        </tr>
        <tr>
          <td>key1</td>
          <td>{{ model.key }}</td>
          <td class="button"><button mat-icon-button color="accent">
              <mat-icon>edit</mat-icon>
            </button></td>
          <td class="button"><button mat-icon-button color="warn">
              <mat-icon>delete</mat-icon>
            </button></td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-actions>
     <button mat-button color="accent">Wert hinzufügen</button>
    </mat-card-actions>
  </mat-card>
</div>

<!-- <h1 mat-dialog-title>Wähle Daten für {{ model.keyName }}</h1>
    <div mat-dialog-content>
      <mat-form-field appearance="fill" floatLabel="always">
        <mat-label>Schlüssel</mat-label>
        <input matInput [(value)]="model.keyName" disabled="true">
      </mat-form-field>
  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Wert</mat-label>
    <input matInput [(value)]="model.key">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button>Abbrechen</button>
  <button mat-button [disabled]="model.key == ''" cdkFocusInitial>Wählen</button>
</div> -->
