<ng-container *ngIf="(lanes$ | async) as lanes">
  <table class="table table-sm table-striped">
    <thead>
    <tr>
      <th scope="col"
          class="fit">Fahrstreifen
      </th>
      <th scope="col"
          class="fit">Typ
      </th>
      <th scope="col"
          class="fit">Spuren
      </th>
      <th scope="col">Warteliste</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let lane of lanes; trackBy: intersectionHelper.trackLane">
      <th scope="row"
          class="fit">{{ lane.name }}</th>
      <th [ngClass]=[intersectionHelper.phaseColor(lane)]
          scope="row"
          class="fit text-center">
        <img *ngIf="lane.type == 'PEDESTRIAN'"
             src="../../../../assets/sign-pedestrian.svg"
             height="24"
             width="48"
             style="width: 48px; height: 24px;">
        <img *ngIf="lane.type == 'TRAM'"
             src="../../../../assets/sign-tram.svg"
             height="24"
             width="48"
             style="width: 48px; height: 24px;">
        <img *ngIf="lane.type == 'NORMAL'"
             src="../../../../assets/sign-cars.svg"
             height="24"
             width="48"
             style="width: 48px; height: 24px;">
      </th>
      <td [ngClass]=[intersectionHelper.phaseColor(lane)]
          class="fit align-middle">
        <img *ngFor="let direction of intersectionHelper.directionIcons(lane)"
             [src]="[direction]"
             height="24"
             width="24"
             style="width: 24px; height: 24px;">
      </td>
      <td>
        <app-tooltip *ngFor="let train of lane.waitingTrains"
                     [text]=[carIcon]
                     [tooltip]=[train]>
        </app-tooltip>
      </td>
    </tr>
    </tbody>
  </table>
</ng-container>
