.line {
    position: relative;
}

.line::after {
    content: "";
    position: absolute;
    width: 4px;
    background-color: black;
    top: 0.5em;
    bottom: 0.5em;
    left: 1em;
    margin-left: -2px;
}

.line-entry {
    display: flex;
    position: relative;
    margin-left: 2em;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.line-entry.start,
.line-entry.end {
    font-weight: 500;
}

.line-entry a {
    color: inherit;
}

.line-entry::after {
    content: "";
    position: absolute;
    width: 1em;
    height: 1em;
    left: -1.5em;
    background-color: white;
    border: 1px solid #000000;
    top: 0px;
    border-radius: 50%;
    z-index: 1;
}
