#centered {
  background-color: #aaaaaa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

#connecting {
  background-color: #eeeeee;
  padding: 1.5em;
  border: 1px solid #999999;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
