<ng-container *ngIf="!(connectionEstablished$ | async)">
  <div id="centered">
    <!-- <div class="row">
      <div class="col-12">
        <p class="mat-display-2"
           style="margin-bottom: 24px; margin-top: 64px;">
          Web App für EEP
        </p>
        <p class="mat-display-1 app-mute-on-light-bg">
          Deine Anlage. Übersichtlich. Dargestellt.
        </p>

      </div>
    </div> -->

    <div id="connecting">
      <p>Verbinde mit Server ... {{ hostname$ | async }}</p>
      <div class="centered">
        <mat-progress-spinner class="my-progress"
                              color="primary"
                              mode="indeterminate"
                              diameter="50">
        </mat-progress-spinner>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="(connectionEstablished$ | async)">
  <router-outlet></router-outlet>
</ng-container>
