<ng-container *ngIf="(connectionEstablished$ | async) === false">
  <div id="centered">
    <div id="connecting">
      <h1>Serververbindung unterbrochen</h1>
      <p>Verbinde zu {{ hostname$ | async }}</p>
      <div class="centered">
        <mat-progress-spinner class="my-progress" color="accent" mode="indeterminate" diameter="50">
        </mat-progress-spinner>
      </div>
      <p>Läuft das Programm EEP-Web-Server?</p>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="connectionEstablished$ | async">
  <router-outlet></router-outlet>
</ng-container>
