<div class="mat-typography">
  <p class="mat-display-4">Display 4</p>
  <p class="mat-display-3">Display 3</p>
  <p class="mat-display-2">Display 2</p>
  <p class="mat-display-1">Display 1</p>
  <p class="mat-headline">Headline</p>
  <p class="mat-title">Title</p>
  <p class="mat-subheading-2">subheading-2</p>
  <p class="mat-subheading-1">subheading-1</p>
  <p class="mat-body-1"> Material Body 1 </p>
  <p class="mat-body-2"> Material Body 2 </p>
  <p class="mat-caption"> Caption </p>
  <!--<button class="mat-button" type="button">Button</button>-->
  <!--<input class="mat-input" type="email">Input</button>-->
  <h1>Headline 1</h1>
  <h2>Headline 2</h2>
  <h3>Headline 3</h3>
  <h4>Headline 4</h4>
  <h5>Headline 5</h5>
  <h6>Headline 6</h6>

  <p class="mat-body">
    Material Body
  </p>
  <p class="mat-"></p>
</div>
