---
layout: bootstrap_with_toc
---
<article {% if page.feature-img %}class="feature-image"{% endif %}>
  <header id="main" style="background:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('{{ site.baseurl }}/{{ page.feature-img }}');">
    <h1 id="{{ page.title | default: "" | cgi_escape }}" class="title">
      {{ page.title }}
    </h1>
    {% if page.subtitle %}
    <h2 class="subtitle"><strong>{{ page.subtitle }}</strong></h2>
    {% endif %}
  </header>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 order-lg-12">
          <aside id="navbar-example2" class="container-fluid sticky-top bg-light toc-right">
            <nav class="navbar navbar-light bg-light">
              <a class="navbar-brand" href="#">Inhalt</a>
              <nav class="nav nav-pills flex-column">
                <!--ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link"  href="#ampelkreuzung-automatisch-steuern">Ampelkreuzung automatisch steuern</a></li>
                  <li class="nav-item"><a class="nav-link"  href="#was-du-brauchst">Was Du brauchst</a>
                    <ul class="nav nav-pills">
                      <li class="nav-item"><a class="nav-link" href="#programme">Programme</a></li>
                      <li class="nav-item"><a class="nav-link" href="#sonstiges">Sonstiges</a></li>
                      <li class="nav-item"><a class="nav-link" href="#lua-skripte-für-eep">Lua-Skripte für EEP</a></li>
                    </ul>
                  </li>
                  <li class="nav-item"><a href="#checkliste">Checkliste</a></li>
                  <li class="nav-item"><a class="nav-link"  href="#los-gehts">Los geht’s</a>
                    <ul class="nav nav-pills">
                      <li class="nav-item"><a class="nav-link" href="#das-lua-hauptskript-anlegen">Das Lua-Hauptskript anlegen</a></li>
                      <li class="nav-item"><a class="nav-link" href="#notwendige-befehle-in-das-lua-skript-aufnehmen">Notwendige Befehle in das Lua-Skript aufnehmen</a></li>
                      <li class="nav-item"><a class="nav-link" href="#alle-signale-mit-tipp-text-markieren">Alle Signale mit Tipp-Text markieren</a></li>
                      <li class="nav-item"><a class="nav-link" href="#die-richtungen-und-signal-ids-der-kreuzung-notieren">Die Richtungen und Signal-IDs der Kreuzung notieren</a></li>
                      <li class="nav-item"><a class="nav-link" href="#schreibe-die-richtungen-in-das-haupt-skript">Schreibe die Richtungen in das Haupt-Skript</a></li>
                      <li class="nav-item"><a class="nav-link" href="#fasse-die-richtungen-nun-zu-schaltungen-zusammen">Fasse die Richtungen nun zu Schaltungen zusammen</a></li>
                      <li class="nav-item"><a class="nav-link" href="#schreibe-die-schaltungen-in-das-haupt-skript">Schreibe die Schaltungen in das Haupt-Skript</a></li>
                      <li class="nav-item"><a class="nav-link" href="#schalte-die-hilfsfunktionen-wieder-aus">Schalte die Hilfsfunktionen wieder aus</a></li>
                    </ul>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="#herzlichen-gl%C3%BCckwunsch">Herzlichen Glückwunsch!</a>
                    <ul class="nav nav-pills">
                      <li class="nav-item"><a class="nav-link" href="#so-kannst-du-weitermachen">So kannst Du weitermachen:</a></li>
                      <li class="nav-item"><a class="nav-link" href="#tipps">Tipps</a></li>
                      <li class="nav-item"><a class="nav-link" href="#themen-f%C3%BCr-fortgeschrittene">Themen für Fortgeschrittene</a></li>
                    </ul>
                  </li>
                </ul-->

                {% include toc.html html=content class=nav %}
              </nav>
            </nav>
          </aside>
        </div>
        <div class="col-lg-9 order-lg-1">
          {{ content }}
        </div>
      </div>
    </div>
  </section>
  <!-- Tag list
  {% include tags_list.html tag_count=page.tags.size %}-->
</article>
