---
layout: bootstrap_with_toc
---
<article {% if page.feature-img %}class="feature-image"{% endif %}>
  <header id="main" style="background:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('{{ site.baseurl }}/{{ page.feature-img }}');">
    <h1 id="{{ page.title | default: "" | cgi_escape }}" class="title">
      {{ page.title }}
    </h1>
    {% if page.subtitle %}
    <h2 class="subtitle"><strong>{{ page.subtitle }}</strong></h2>
    {% endif %}
  </header>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 order-lg-12">
          <aside id="navbar-example2" class="container-fluid sticky-top bg-light toc-right">
            <nav class="navbar navbar-light bg-light">
              <a class="navbar-brand" href="#">Inhalt</a>
              <nav class="nav nav-pills flex-column">
                {% include toc-bootstrap-nav-list.html html=content %}
              </nav>
            </nav>
          </aside>
        </div>
        <div class="col-lg-9 order-lg-1">
          {{ content }}
        </div>
      </div>
    </div>
  </section>
  <!-- Tag list
  {% include tags_list.html tag_count=page.tags.size %}-->
</article>
