<div id="holder">
  <ng-container *ngIf="true">
    <div *ngFor="let category of navigation" class="py-auto">
      <mat-nav-list class="side-toolbar-navlist" *ngIf="category.available | async"
        ><ng-container *ngFor="let element of category.values">
          <div
            class="d-flex flex-column my-4 app-nav-icon"
            routerLinkActive="app-nav-icon-selected"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <div
              matRipple
              matRippleColor="primary"
              routerLink="{{ element.link }}"
              class="nav-ripple align-self-center d-flex flex-column app-nav-icon"
            >
              <div class="align-self-center mx-4 my-1">
                <mat-icon class="nav-entry-icon">{{ element.icon }}</mat-icon>
              </div>
            </div>
            <h4 class="align-self-center m-0">{{ element.title }}</h4>
          </div>
        </ng-container>
      </mat-nav-list>
    </div>
  </ng-container>
</div>
